body {
    background-color: rgb(93, 96, 96);
    color: purple;
}

h1{
    font-weight: bold;
    color:purple;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide{
    display: none;
}