body {
    background-color: rgb(93, 96, 96);
    color: rgb(242, 155, 242);
}

h1{
    font-weight: bold;
    color:rgb(242, 155, 242);
    font-size: 40px;
    text-align: center;
}

p{
    font-size: 20px;
    text-align: center;

}

.hide{
    display: none;
}

#start-btn{
    display: inline-block;
    text-align: center;
    background-color: white;
    color: rgb(242, 155, 242);
    cursor: pointer;
}

#timer{
    text-align: right;
}